@model TrackerWeb.Models.ParteViewModel
@{
    ViewData["Title"] = "Partes de visita";
}

<h4>Partes de visita</h4>

<a class="btn btn-primary" id="btnSendMail">Crear parte por email</a>
<br />
<br />
<div class="mb-3 row">
    <label class="col-sm-1">Cliente:</label>
    <select id="selectCliente" class="selectized col-sm-11"></select>
</div>

@Html.Partial("_FormParte",Model)


<script>
    //var model = @Html.Raw(Json.Serialize(@Model.user.IdUser));
    var cont = 0;

    $("#btnSendMail").click(function (x) {
        cont++;

        var dia = new Date().getDate();
        if (dia < 10) dia = "0" + dia;
        var mes = new Date().getMonth() + 1;
        if (mes < 10) mes = "0" + mes;
        var año = new Date().getFullYear();
        var fecha = dia + "/" + mes + "/" + año;

        var tareas = "";
        for (var i = 0; i < 5; i++) {
            tareas = tareas + "\n\nTarea " + (i + 1) + ":\nTipo Trabajo (Realizado,Pendiente,Presupuesto):\nTrabajo:"
        }

        var subject = "Nuevo parte de trabajo";
        var body = "Usuario: " + '@Html.Raw(@Model.user.IdUser)' + "\nFecha: " + fecha + " \nNº Parte: "+ cont +" \nPrioridad (P/U/M): \nObservaciones: \n\n\nTareas: " + tareas;
        var action = "mailto:example@example.com?&subject=" + encodeURI(subject) + "&body=" + encodeURI(body);
        $("#btnSendMail").attr('href', action);
    });
</script>